[submodule "vista-portal-backend"]
	path = vista-portal-backend
	url = git@github.com:Nerevarishe/vista-portal-backend.git
	branch = master
[submodule "vista-portal-frontend"]
	path = vista-portal-frontend
	url = git@github.com:Nerevarishe/vista-portal-frontend.git
	branch = master
[submodule "vista-portal-cronjobs"]
	path = vista-portal-cronjobs
	url = git@github.com:Nerevarishe/vista-portal-cronjobs.git
	branch = master
